@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@600&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 32px;
    text-decoration: none;
}

.nav-list li a:hover {
    color: black;
    background-color: white;
}

.nav-list .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 80px;
}

.nav-list .logo img {
    height: 51px;
    border-radius: 113px;
    border: 4px solid white;
}

.rightNav {
    width: 50%;
    text-align: right;
    margin-right: 60px;
}

#search {
    border-radius: 14px;
    padding: 8px 56px;
    margin-right: 15px;
}

.background {
    background: rgba(0, 0, 0, 0.6) url("../img/bg2.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 61vh;
    font-family: 'Phudu', cursive;
    font-family: 'Ubuntu', sans-serif;
}

.firstSection .secondHalf img {
    height: 200px;
    border-radius: 100px;
    border: 4px solid white;
}

.firstSection .box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 57%;
    margin: auto;
    height: 90%;
}

.firstHalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-right: 48px;
}

.text-big {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 16px 0;
}

.text-small {
    font-size: 17px;
}

.firstHalf .btn {
    padding: 9px 15px;
    border-radius: 12px;
    background: none;
    border: 2px solid wheat;
    color: wheat;
    margin-top: 22px;
    cursor: pointer;
    margin-right: 8px
}

.btn-sm {
    padding: 9px 15px;
    border-radius: 12px;
    background: none;
    border: 2px solid wheat;
    color: wheat;
    vertical-align: middle;
    cursor: pointer;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 75%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    background: #fef9ee;
    padding: 30px 80px;

}

.left {
    flex-direction: row-reverse;
}

.thumbnail img {
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;

}

.paras {
    padding: 0 70px;
}

.sectionSubtag {
    font-family: serif;
}

.text-center {
    text-align: center;
    padding-top: 49px;
    font-family: 'Phudu', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.contact {
    height: 70vh;
    background: #ececec
}

.contact .form {
    text-align: center;
    max-width: 30%;
    margin: auto;
}

.contact .form input {
    width: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .form textarea {
    width: 100%;
    height: 100px;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact .contact-div {
    margin: 12px 0;
}

.btn-dark {
    margin-top: 29px;
    padding: 7px 18px;
    border-radius: 12px;
    background: #dadada;
    border: 2px solid black;
    font-family: 'Phudu', cursive;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 12px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.burger {
    position: absolute;
    right: 3%;
    top: 20px;
    display: none;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
